<div>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #505F98">
    <div class="d-flex flex-row align-items-center">
      <a class="navbar-brand" href="/">Talento</a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mx-lg-20" type="search" placeholder="Search" style="width: 500px;" />
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Messages<span class="badge badge-pill badge-danger ml-2">4</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Resume</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Upload New</a>
          </div>
        </li>
      </ul>
      <a class="btn btn-light ml-2 mr-1 px-4" href="/login" role="button">
        Login
      </a>
    </div>
  </nav>
  <div class="collapse" id="collapseExample">
    <div class="card card-body alert-primary">
      Hello, I'm doing well today? Just wanted to reach out and say hi. If you have any questions, feel free to ask. Looking forward to hearing from you. Take care and have a great day!
    </div>
  </div>
</div>

